body {
  display: grid;
  grid-template-rows: auto auto auto 50px;
  height: 100vh;
  justify-content: center;
  justify-items: center;
}

h1 {
  padding: 0px;
  margin: 0px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  grid-row: 1 / 2;
}

button {
  background-color: white;
  padding: 10px 20px 10px 20px;
  border-style: none;
  border: 1px solid rgb(228, 137, 137);
  /* border-bottom: 1px solid rgb(228, 137, 137); */
  /* border-top-right-radius: 15px;
  border-top-left-radius: 15px; */
  box-shadow: 1px 1px 2px rgb(181, 179, 179);
}

.dropdownbutton {
  border-top-right-radius: 15px;
}

.nodropdownbutton:hover {
  background-color: pink;
  cursor: pointer;
}

.dropdowncontainer {
  position: relative;
}

.dropdown {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  padding:0px;
}

.dropdownitem {
  /* box-sizing: border-box;
  width: 100%; */
  text-align: center;
  text-decoration: none;
  padding: 5px;
  background-color: lightgray;
  box-shadow: 1px 1px 2px rgb(181, 179, 179);
  border-bottom: 1px solid rgb(228, 137, 137);
  border-left: 1px solid rgb(228, 137, 137);
  border-right: 1px solid rgb(228, 137, 137);
}

.dropdownitem:hover {
  background-color:white;
}

.dropdownitem:active {
  color: blue;
  background-color:green;
}

.hidden {
  display: none;
}

.red {
  background-color: rgb(244, 11, 11);
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.header {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  grid-row: 2 / 3;
  margin-top:10px;
  margin-bottom: 10px;
  display: flex;
  align-content: center;
  align-items: center;
}

.slideshowcontainer {
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: 40px 300px 40px;
  width: 600px;
}

.scgriditem {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.slideshowheader {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  /* background-color: rgb(241, 242, 180); */
  padding: 0px;
  margin: 0px;
}

.imagecontainer {
  /* background-color:rgb(184, 234, 184); */
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  position: relative;
  width: 400px;
}

.arrowcontainer {
  font-family: arial;
}

.leftarrowcontainer {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  /* background-color:rgb(147, 147, 238); */
}

.rightarrowcontainer {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  /* background-color: rgb(232, 179, 188); */
}

.imgarrow, .dot, .dotnow {
  cursor: pointer; 
}

/* #rightarrow {
  background-color: rgb(237, 210, 215);
} */

/* #rightarrow:hover, #leftarrow:hover {
  background-color:rgb(184, 234, 184);
}

#leftarrow {
  background-color:rgb(172, 172, 234);
} */

.carouseldots {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  /* background-color: rgb(219, 124, 219); */
  display: flex;
  flex-direction: row;
}

.dot {
  color: black;
  padding: 5px;
}

.dotnow {
  color: rgb(178, 25, 27);
  padding: 5px;
}

.mobilemenu {
  grid-row: 4 / 5;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.griditem {
  align-content: center;
  justify-content: center;
}

.shown {
  opacity: 1;
  transition:opacity .4s;  
}

.hidden {
  opacity: 0;
  transition:opacity .5s;  
}

img {
  position: absolute;
}

.mmgriditem {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-content: center;
}